---

---

<header class="Header">
    <div class="Header__over">
        <nav class="Header__over__navigation">
            <ul class="Header__over__navigation__list">
                <li class="Header__over__navigation__list__item">
                    <a href="">
                        <button
                            class="Header__over__navigation__list__item__button"
                            >Contact</button
                        >
                    </a>
                </li>
                <li class="Header__over__navigation__list__item">
                    <a href="">Lettre d'information</a>
                </li>
                <li class="Header__over__navigation__list__item">
                    <a href="">Lettre d'information</a>
                </li>
                <li class="Header__over__navigation__list__item">
                    <a href="">Lettre d'information</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style lang="scss">
    .Header {
        &__over {
            background-color: $main-color;
            display: flex;
            color: white;
        }
    }
</style>
