---
import { Image } from "astro:assets";
import Logo from "../assets/logo-up-square.svg";
---

<header class="Header">
    <div class="Header__main">
        <nav class="Header__main__nav">
            <div class="Header__main__nav__logo">
                <a href="/"
                    ><Image src={Logo} alt="Le logo du mouvement de l'UPR" /></a
                >
            </div>
            <ul class="Header__main__nav__list">
                <li class="Header__main__nav__list__item">
                    <a href="">Le président</a>
                </li>
                <li class="Header__main__nav__list__item">
                    <a href="">Charte & programme</a>
                </li>
                <li class="Header__main__nav__list__item">
                    <a href="">Agenda</a>
                </li>
                <li class="Header__main__nav__list__item">
                    <a href="">Contact</a>
                </li>
                <li class="Header__main__nav__list__item">
                    <button class="Header__main__nav__list__item__button"
                        >Espace membre</button
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>

<style lang="scss">
    .Header {
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 100;
        &__main {
            background-color: white;
            z-index: 10;
            background-color: #00737c;
            height: 112px;
            &__nav {
                display: flex;
                max-width: $screen-default;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
                color: white;
                font-weight: 700;

                &__logo {
                    width: max-content;
                    height: auto;
                    padding: 0.5rem 0;
                    img {
                        width: 5rem;
                        height: auto;
                    }
                }
                &__list {
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    &__item {
                        &__button {
                            padding: 0.5rem 1rem;
                            background-color: white;
                            border: none;
                            color: $main-color;
                            font-size: $md;
                            border-radius: 2rem;
                            font-weight: 700;
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            &::after {
                                content: url("../assets/person-icon.svg");
                            }
                        }
                    }
                }
            }
        }
    }
</style>
