---
import Button from "./Button.astro";
import ArrowBottom from "./ArrowBottom.astro";

const {background = "/asselineau-2017.jpg"} = Astro.props;
---

<main class="Hero" style={`background-image: url(${background})`}>
    <div class="Hero__container">
        <div class="Hero__container__content">
            <span class="Hero__container__content__overtitle">UPR</span>
            <h1 class="Hero__container__content__title">
                L'union du peuple pour rétablir la démocratie
            </h1>
            <p class="Hero__container__content__quote">
                Magna esse culpa exercitation magna ea reprehenderit sunt.
            </p>
            <div class="Hero__container__content__buttons">
                <Button link="/" light={true}>J'hadère</Button>
                <Button link="/" light={false} border={true}>Je découvre</Button>
            </div>
        </div>
    </div>

    <style lang="scss">
      .Hero {
        height: calc(100vh - 152px);
        background-size: cover;
        background-position-x: center;
        background-position-y: 50%;
        position: relative;

        &__container {
          margin: 0 auto;
          max-width: $screen-default;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;


          &__content {
            color: white;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            max-width: 748px;
            gap: 2rem;
            background-color: $main-color;
            padding: 0 2rem;



            &__overtitle {
              padding: 0.5rem 2rem;
              text-transform: uppercase;
              font-size: $xl;
              font-weight: 900;
              border: 1px solid white;
              border-radius: 2rem;
              max-width: min-content;
            }

            &__title {
              font-size: $xxxl;
              text-transform: uppercase;
              font-weight: 900;
              font-family: "Martel Sans", sans-serif;
              line-height: 3.5rem;
              position: relative;
              &::after {
                content: url("../assets/rameau.svg");
                position: absolute;
                right: 0;
                top: -8rem;
              }
            }
            &__quote {
              font-size: $lg;
            }

            &__buttons {
              display: flex;
              gap: 2rem;
            }
          }
        }
      }
    </style>
</main>
